@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 10s linear infinite;
}
span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
}
@keyframes animate {
  0% {
    transform: rotate(-90deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(150deg) translateX(-1000px);
    opacity: 0;
  }
}
span:nth-child(1) {
  bottom: 0;
  right: 0;
  left: initial;
  animation-duration: 3s;
}
span:nth-child(2) {
  top: 0;
  left: 80px;
  left: initial;

  animation-duration: 8s;
}
span:nth-child(3) {
  top: 80;
  right: 0px;
  left: initial;

  animation-duration: 6s;
}
span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;

  animation-duration: 4.5s;
}
span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;

  animation-duration: 6.5s;
}
span:nth-child(6) {
  bottom: 0;
  right: 600px;
  left: initial;

  animation-duration: 10s;
}
span:nth-child(7) {
  top: 300px;
  left: 0px;
  left: initial;

  animation-duration: 6.75s;
}
span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;

  animation-duration: 8.25s;
}
span:nth-child(9) {
  bottom: 0px;
  right: 1000px;
  left: initial;

  animation-duration: 6.25s;
}
span:nth-child(9) {
  top: 0px;
  left: 450px;
  left: initial;

  animation-duration:10.75s;
}
